* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

  
body {
  background: blue;
}

.row{
  display: flex;
  flex-direction: row;
}

  .app .Heading h1 {
    text-align: center;
    font-size: 350%;
    margin-top: 0.3em;
  }
  .app .Heading h2 {
    text-align: center;
    font-size: 200%;
    margin-top: -1.5em;
  }


  .todo-main {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 430px;
    background: #161a2b;
    text-align: center;
    margin: 40px auto;
    border-radius: 10px;
    margin-top: 0.5em;
    padding-bottom: 32px;
  }
  
  
  h1,h2 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }

  .todo-form {
    margin-bottom: 32px;
  }

  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }


  .todo-button {
    padding: 16px;
    border: none;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(

      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }

  .app .todo-button i {
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  

  .app .todos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .app .todos .todo {
    margin: 4px auto;
    width: 90%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 16px;
    background-color: aqua;
  }
  .app .todos .todo .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .app .todos .todo .left p {
    margin-left: 3px;
    font-size: 17px;
    font-weight: 7000;
    font-style: normal;
    color: black;
  }


  .app i {
    cursor: pointer;
    font-weight: bold;
    color: green;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  @media (min-width: 360px) and (max-width: 767px) {
    
    .row {
      display: flex;
      flex-direction: column; 
    }
  
    .todo-main {
      margin: 40px auto;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 1290px) {
    
    .row {
      display: flex;
      flex-direction: column; 
    }
  
    
  }
